name: sql-lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install SQLFluff
        run: pip install sqlfluff==2.3.5

      - name: Run SQLFluff Lint
        run: sqlfluff lint . --dialect bigquery

