name: sql-lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sqlfluff/sqlfluff-github-action@v1.3.0
        with:
          sqlfluff_version: "2.3.5"
          dialect: bigquery
