name: sql-lint-and-fix
on: [push, pull_request]

jobs:
  lint-and-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Grant write permission to the GITHUB_TOKEN for this job
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install SQLFluff
        run: pip install sqlfluff==3.5.0

      - name: Run SQLFluff Fix
        run: sqlfluff fix . --dialect bigquery --verbose

      - name: Commit SQLFluff fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ":adhesive_bandage: Apply automatic SQLFluff formatting fixes"
          commit_author: "GitHub Actions <actions@github.com>"
